*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/*======== Navbar===========*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background:#111;
    position: relative;
}
/*=====logo */
.logo a{
    color: white;
    font-size:36px;
    text-decoration: none;
    font-weight: bold;
}

/*====Menu=====*/
.menu a{
    color: white;
    margin-left:20px;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
}

.menu a:hover{
    color:orange;
}

/*====Hero Section=====*/
.hero{
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    background: linear-gradient(to right,#141e30, #243b55);
    color:white;
}
.hero h1{
    font-size:60px;
    margin-bottom: 20px;
}
.hero p{
    font-size:24px;
    margin-bottom: 25px;

}
.btn{
     background: orange;
     padding:12px 25px;
     text-decoration: none;
     color:white;
     margin-top:15px;
     font-size:22px;
     transition:0.6s;

}
.btn:hover{
    background:#ff6600;
    transform:scale(1.05);
}

/*hide checkbox */
#menu-toggle{
    display: none;
}
.menu-icon{
    display: none;
    font-size:30px;
    cursor:pointer;
    color: white;
    z-index:1000;
}


/*=====Courses Section Styling=====*/
.courses{
    padding: 80px 60px;
    background: #f5f5f5;
    text-align:center;

}
.section-title{
    font-size: 40px;
    margin-bottom: 50px;
    color: #333;
}
.course-container{
    display: flex;
    justify-content: center;
    gap:30px;
    flex-wrap:wrap;
}
.course-card{
    background: white;
    width: 260px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0, 0, 0.3);
   transition:0.4s
}
.course-card:hover{
    transform: translateY(-10px);
    box-shadow:0 10px 25px rgba(0, 0, 0, 0.7)

}
.course-card h3{
    font-size: 25px;
    margin-bottom: 15px;
}
.course-card p{
    font-size:17px;
    margin-bottom: 20px;
    color:#555;
}
.course-btn{
    background:orange;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
.course-btn:hover{
    background:#ff6600;
}
/*=====about styling===*/

.about{
    padding: 80px 60px;
    background:white;
}
.about-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:50px;
}
.about-image img{
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.about-text{
    max-width:500px;
}
.about-text h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.about-text p{
    font-size: 18px;
    margin-bottom:15px;
    color:#555;
    transition:0.5s;
}
.about-text p:hover{
    font-size: 20px;
}
.about-btn{
    display: inline-block;
    margin-top:10px;
    padding: 12px 25px;
    background: orange;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition:0.5s;
}
.about-btn:hover{
    background:#ff6600;
}

/*====Contact Syling====*/
.contact{
    padding: 80px 60px;
    background:#f5f5f5;
    text-align: center;
}
.contact-container{
    display: flex;
    justify-content: center;
}
.contact-form{
    background:white;
    padding:40px;
    width: 400px;
    box-shadow:0 5px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction: column;
    gap: 12px;

}

.contact-form input,
.contact-form textarea{
    padding: 12px;
    border:2px solid #ccc;
    border-radius:6px;
    font-size: 16px;
    outline:none;
    transition: 0.3s;
}
.contact-form input:focus,
.contact-form textarea:focus{
    border-color:orange;
}
.contact-form button{
    background: orange;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size:16px;
    transition: 0.4s;
}
.contact-form button:hover{
    background: #ff6600;
}
/*=======Footer Style====*/
.footer{
    background:#111;
    color:white;
    padding:50px 60px;
}
.footer-container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:40px;
}
.footer-logo,
.footer-links,
.footer-social{
    flex:1;
}
.footer-links a, 
.footer-social a{
    display:block;
    color:white;
    text-decoration:none;
    margin:6px 0;
    transition:0.4s;
}
.footer-links a:hover,
.footer-social a:hover{
    color:orange;
    font-size:18px;
}
.footer-bottom{
    text-align:center;
    color:#aaa;
    margin-top:30px;
}





/*======mobile Responsive ==*/
@media(max-width: 768px){
    .navbar{
        padding:20px;
    }
    .menu-icon{
        display:block;
    }
.menu{
    position:fixed;
    top: 0;
    right:-250px;

    width:250px;
    height:100vh;
    background:#111;
    display:flex;
    flex-direction: column;
    padding-top:80px;
    transition:0.5s;
    z-index:999;
}
/*menu links */
.menu a{
    margin: 20px;
    font-size:18px;
}
/*open sidebar */
#menu-toggle:checked~ .menu{
   right: 0;
}
.hero h1{
    font-size: 30px;
}
.hero p{
    font-size: 18px;
}
.courses{
    padding: 60px 20px;
}
.section-title{
    font-size: 30px;
}
.course-container{
    flex-direction:column;
    align-items: center;
}
.course-card{
    width: 90%;
}

/*about*/
.about{
    padding: 60px 20px;
}
.about-container{
    flex-direction: column;
    text-align: center;
}
.about-image img{
    max-width:100%;
}
.about-text h2{
    font-size:27px;
}
.about-text p{
    font-size:16px;
}
/*Contact */
.contact{
    padding: 60px 20px;
}
.contact-form{
    width:100%;
}
.footer{
    padding: 40px 20px;
}
.footer-container{
    flex-direction:column;
    text-align:center;
}

}




